*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}

li{
    list-style-type: none;
    margin-right: 5%;
}

h2{
    font-family: 'Bebas Neue', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
}

.bg{
    background-image: url('images/bg_image4.jpg');
    background-size: cover;
    min-height: 100vh;
}

.logo{
    font-family: 'Leckerli One';
    font-size: 7rem;
    text-align: center;
    padding-top: 2%;
}

h1, h2, p{
    color: white;
}

.shadow{
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

/*@media (300px <= width <= 750px) {
    .container{
    display: grid;
    grid-template-areas: 
        "bg bg"
        "text text";
    }

    .bg{
        grid-area: bg;
    }
    .text{
    background-image: url('images/OIP.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90vw;
    min-height: 50vh;
    grid-area: text2;
    }

    #other{
        min-width: 100%;
    }

}*/

@media (min-width:751px) {
    .text{
    background-image: url('images/OIP.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90vw;
    min-height: 50vh;
    display: flex;
    }
    
    #other{
        max-width: 60%;
    }
}


